/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*Let this div be sized by children so they're drawn within it */
  background-color: #054d8c; /*#3397DB;*/
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
  display: inline;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* Improve visual feedback on focused select element */
.filter-options select:focus {
  outline: 2px solid orange;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: none inside none;
  margin: 0;
  padding: 0; /* Use page realestate */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 10px;
  text-align: left;
  margin: 5px 0 0 0;
  /* Let the li extent to the screen width*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #054d8c;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.3;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #054d8c;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 8px 30px 10px;
  text-align: center;
  text-transform: uppercase;
}

/* 
 * Favorite button 
 */
/* Normal state (not favorite) */
.favorite {
  background: none;
  border: none;
  color: black;
  font-size: 2em;
  padding: 0px 10px 0px;
  display: inline-block;
  transform: translateY(5px);
}
/* On hover state */
.favorite:hover{
  /*text-shadow: 0px 0px 10px #054d8c;*/
  transform: translateY(5px) scale(1.5,1.5);
}
/* Favorite state */
.favorite[aria-pressed=true]{
  color: #b69000;
}

/* ====================== Style Breakpoints ====================== */
@media screen and (max-width: 640px){
  /* Put filter options label and select elements in same column */
  .filter-options h2 {
    display: block;
  }
  .filter-options {
    padding-top: .5em;  /* Leave some space from the previous component*/
  }
}
@media screen and (min-width: 640px) and (max-width:960px){
  /* List restaurants in 2 columns */
  #restaurants-list li{
    width: calc(50% - 10px);
    padding: 5px;
  }
}

@media screen and (min-width: 960px) {
  /* List restaurants in 3 columns */
  #restaurants-list li{
    width: calc(33.33% - 10px);
    padding: 5px;
  }
}
