/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
main {
  background-color: #f3f3f3;
  min-height: 100%;
}
footer {
  background-color: #444;
  color: #dcdcdc;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
footer > * {  /* Select all footer direct children */
  white-space: nowrap;  /* Don't break footer components */
}
/* ====================== Header ====================== */
header {
  width: 100%;
  /*No height specified: let the h1 size it's parent so the text is always vertically centered*/ 
  background-color: #252831;
  text-align: center;
}
header h1 {
  text-align:center;
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  height: 1.5em;
  display: inline;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /*No height specified: let the h1 size it's parent so the text is always vertically centered */
  background-color: #252831;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  text-align: left;
  /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #054d8c;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}
/* Enhance the current page link */
#breadcrumb [aria-current="page"] {
  font-weight: 700;
}
/* ====================== Map ====================== */
#map {
  height: 100vw;       /* Maintain aspect ratio ... */
  min-height: 320px;   /* ... with minimum of 320px */  
  max-height: 525px;   /* ... with maximum of 525px for wide screens. TODO: handle mobile on landscape */
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*Let this div be sized by children so they're drawn within it */
  background-color: #054d8c; /*#3397DB;*/
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
  display: inline;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* Improve visual feedback on focused select element */
.filter-options select:focus {
  outline: 2px solid orange;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: none inside none;
  margin: 0;
  padding: 0; /* Use page realestate */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  /* border: 2px solid #ccc;*/
  font-family: Arial,sans-serif;
  margin: 0;
  min-height: 380px;
  /* padding: 0 30px 25px;*/
  padding: 10px;
  text-align: left;
  margin: 5px 0 0 0;
  /* Let the li extent to the screen width*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #054d8c;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.3;
  /*margin: 20px 0 10px;*/
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #054d8c;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* 
 * Favorite button 
 */
/* Normal state (not favorite) */
.favorite {
  background: none;
  border: none;
  color: black;
  font-size: 2em;
  padding: 0px 10px 0px;
  display: inline-block;
  transform: translateY(5px);
}
/* On hover state */
.favorite:hover{
  /*text-shadow: 0px 0px 10px #054d8c;*/
  transform: translateY(5px) scale(1.5,1.5);
}
/* Favorite state */
.favorite[aria-pressed=true]{
  color: #b69000;
}

/*
 * Add review
 */
form label {
  display: block;
}

#add-error {
  background-color: #ffffcc;
  color: red;
}

/* ====================== Restaurant Details ====================== */
/* 
  Flex containers to hold:
  Details: restaurant location, info and reviews sections 
  Info: restaurant name, image and other info
*/
.details, .info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.details-col {
  padding: 0 10px;
}

.details-col, .info-col {
  /*flex:1;*/
  width: 100%;
}

/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}*/
/*.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}*/
/*.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}*/
/*.inside footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}*/
#restaurant-name {
  color: #054d8c;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0; /* Old Values: 15px 0 30px;*/
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-picture {
  max-width: 100%;
  height: 75vw; /* Assuming all images are 3:2 aspect ratio */
}
#restaurant-picture #restaurant-img {
  width: 100%;
  height: 100%;
}
#restaurant-other {
  background-color: #fff;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  /*width: 100%;*/
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
/*#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}*/
#reviews-container {
  /*padding: 30px 40px 80px;*/
}
#reviews-container h2 {
  color: #054d8c;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  /*  width: 85%;*/
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #333;
}


/* ====================== Style Breakpoints ====================== */
@media screen and (max-width: 640px){
  /* Put filter options label and select elements in same column */
  .filter-options h2 {
    display: block;
  }
  .filter-options {
    padding-top: .5em;  /* Leave some space from the previous component*/
  }
}

@media screen and (min-width: 640px) and (max-width:960px){
  /* List restaurants in 2 columns */
  #restaurants-list li{
    width: calc(50% - 10px);
    padding: 5px;
  }

  #restaurant-other {
    width: 50%;
  }
  #restaurant-picture{
    width: 50%;
    height: 37.5vw; /* Half the size of the 3:2 aspect ratio */
  }
}

@media screen and (min-width: 960px) {
  /* List restaurants in 3 columns */
  #restaurants-list li{
    width: calc(33.33% - 10px);
    padding: 5px;
  }
  /* Since the screen is wide enough, place restaurant info to the left ... */
  #restaurant-container {
    width: 400px;
    order: -2;
    padding-right: 0;
  }
  #restaurant-picture{
    width: 400px;  /* Just a number near 400px that results in a integer height */
    height: 300px; /* 2/3 the size of the 405px to keep aspect ratio */
  }
  /* ... and map to the right */
  .details #map-container {
    width: calc(100% - 420px);
    order: -1;
    padding-left: 0;
  }
  /* Make the map the same height as the restaurant info column */
  .details #map {
    height: 100%;
    max-height: none;
  }
}
